APScheduler>=3.10.4
beautifulsoup4>=4.12.3
feedparser>=6.0.11
FinanceDataReader>=0.9.90
konlpy>=0.6.0
numpy>=1.26.4
pandas>=2.2.2
pykrx>=1.0.51
python-dotenv>=1.0.1
python-telegram-bot>=21.6
PyYAML>=6.0.2
requests>=2.32.3
scikit-learn>=1.5.2
